# Version control
.git
.gitignore

# Dependencies
node_modules
npm-debug.log

# Build output
dist
build

# Environment
.env
.env.*

# Development
coverage
.vscode
.idea
*.swp
*.swo

# Logs
logs
*.log

# System Files
.DS_Store
Thumbs.db
